.thumbSlider {
    overflow: hidden;
}

.th-round {
    border: 1px solid gray;
    /* background: #232C31; */
    border-radius: 5px;
    display: inline-block;
}

.th-progress {
    position: absolute;
    width: 160px;
    height: 5px;
    display: none;
    top: 180px;
    background-color: yellow;
    opacity: 0.6;
    border-radius: 3px;
}

.th-progress div {
    height: 5px;
    border-radius: 3px;
    background-color: orange;
}

.th-thumb {
    margin: 10px 0 10px 10px;
    height: 180px;
    width: 180px;
    border: 1px solid black;
    border-radius: 3px;
}

