.th-round {
    border: 1px solid gray;
    background-color:rgb(234,234,234);
    background-color: rgba(234,234,234,0.8);
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius: 4px;
    display: inline-block;
    -webkit-box-shadow: 0 0 5px rgba(0,0,0,0.5); 
    -moz-box-shadow: 0 0 5px rgba(0,0,0,0.5); 
    box-shadow: 0 0 5px rgba(0,0,0,0.5); 
    overflow: hidden;
    -webkit-transition: width 0.3s ease;
    -moz-transition: width 0.3s ease;
    -o-transition: width 0.3s ease;
    -ms-transition: width 0.3s ease;
    transition: width 0.3s ease;
    margin: 100px;
    position: relative;
}

.th-progress {
    position: absolute;
    width: 160px;
    height: 5px;
    display: none;
    background-color: #FFE8C4;
    opacity: 0.7;
    border-radius: 3px;
}

.th-progress div {
    height: 5px;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius: 3px;
    background-color: #FF9A00;
    opacity: 1;
}

.th-thumb {
    margin: 15px 0 15px 15px;
    height: 180px;
    width: 180px;
    border: 8px solid #fff;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    -webkit-transition: box-shadow 0.5s ease;
    -o-transition: box-shadow 0.5s ease;
    -moz-transition: box-shadow 0.5s ease;
    -ms-transition: box-shadow 0.5s ease;
    transition: box-shadow 0.5s ease;
    overflow: hidden;
    display: inline-block;
}


